<%- include('partials/header.ejs') -%>

<h1 class="headings"> ABOUT US </h1>
<h4> <%= about %></h4>

<!-- <h1> Contact Us</h1>
<h2><a href="https://www.linkedin.com/in/rhythm-bhatia/"> LinkedIn </a> </h2>
<h2> <a href="https://github.com/rhythm-28"> Github </a> </h2> -->



<%- include('partials/footer.ejs') -%>
