<%- include('partials/header.ejs') -%>

<h1> Contact Us</h1>
<h2><a href="https://www.linkedin.com/in/rhythm-bhatia/"> LinkedIn </a> </h2>
<h2> <a href="https://github.com/rhythm-28"> Github </a> </h2>

<%- include('partials/footer.ejs') -%>
