body
{
    background-color: #171717;
}

h1
{
    text-align: center;
    color: #EDEDED;
}

h4
{
    color: #EDEDED;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 8px;
	font-size: 12px;
  color: #fff;
}

#foot {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

.Navbar 
{
    background-color: #444444;
}
.Navbar .nav-link:hover 
{
    color: white !important;
}
.Navbar .active 
{
    color: white !important;
}

.column-of-cards
{
  margin-right: 2%;
  margin-bottom: 2%;
}

.secrets-div
{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.headings
{
    margin: 2% 0;
}

.new-secret
{
    font-size: 2rem;
    margin-top: 2%;
}

.icon-div
{
    display: flex;
    justify-content: center;
    margin-top: -18%;
}

.footer-icons
{
  margin: 0 2rem;
  color: white;
}

.white-section
{
  background-color: #fff;
}

.main-div
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-info
{
    padding: 2%;
}